extends ../../layouts/main

block title
	title Made in A2 - Jobs

block header
	.top-bar
		include ../../includes/tabs
		h1 Made in A2
		a.go-home(href="/")
			img.logo(src="/images/a2-whiteboard.png", alt="Made in A2")

block content

	.jobs-wrapper

		script(src="https://www.truejob.com/widget.js?location=ann-arbor&theme=madeina2")
		hr
		p
			span(style="float: right;") powered by 
				a(href="https://www.truejob.com/" target="_blank") TrueJob
