/* global */
* {
	color: hsl(200, 20%, 30%);
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
a {
	color: hsl(200, 80%, 60%);
}
a:visited {
	color: hsl(200, 80%, 80%);
}

/* header */
.header {
	overflow: auto;
	background: hsl(220, 20%, 15%);
	color: white;
	text-align: center;
}
.header h1 {
	font-size: 35px;
	text-indent: -9999px;
	padding: 0;
	margin: 0;
	height: 1px;
}
.header .subheading {
	color: #fff;
	font-weight: 400;
	margin: 0 0 8rem;
}

.header #logo {
	max-width: 250px;
	width: 100%;
	margin: 3rem 0 0;
}

/* tabs */
.tabs {
	overflow: auto;
	margin: 0;
	text-align: right;
	padding: 2rem;
}
.tabs .tab {
	border-bottom: 2px solid transparent;
	display: inline-block;
	padding: .5rem 0;
	margin: 0 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-family: roboto;
	font-weight: 500;
	letter-spacing: .05em;
	color: white;
	opacity: .9;
}
.tabs .tab:hover {
	opacity: 1;
}
.tabs .tab.active {
	border-bottom: 2px solid white;
}

/* companies */
.wrapper {
	border: 6px solid white;
	overflow: auto;
}
.company {
	color: #444;
	opacity: .95;
	border: 6px solid white;
	display: block;
	float: left;
	width: 100%;
	color: white;
	text-align: center;
}
.company:hover {
	opacity: 1;
}
.company a {
	display: block;
	padding: 5rem 0;
	line-height: 3rem;
	font-size: 36px;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
}
.company.add-your-own a {
	font-size: 18px;
	color: #444;
}

/* groups */
.group-wrapper {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 2rem;
}
.group {
	border-bottom: 1px solid #eee;
	padding: 2rem 0;
}
.group h2 {
	margin: 0 0 1rem;
}
.group p {
	font-family: 'Roboto';
	line-height: 1.5;
}
.group .links a {
	display: inline-block;
	margin: 0 1rem 0 0;
}

/* footer */
.footer {
	padding: 5em 0;
	color: #888;
	float: left;
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.footer a {
	color: #888;
}

/* wider screen versions */
@media (min-width: 700px) {
	.company {
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.company {
		width: 33.33%;
	}
}
@media (min-width: 1400px) {
	.company {
		width: 25%;
	}
}