/* global */
* {
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
}
a {
	color: inherit;
}

/* header */
.header {
	padding: 3em 2em 2.3em 2em;
	background: hsl(220, 20%, 15%);
	color: white;
}
.header h1 {
	font-size: 35px;
	text-indent: -9999px;
	padding: 0;
	margin: 0;
	height: 1px;
}
.header p {
	color: #fff;
	font-weight: 400;
}

.header #logo {
	max-width: 250px;
	width: 100%;
	margin-bottom: 1.2em;
}

/* generic company styles */
.wrapper {
	border: 6px solid white;
}
.company {
	color: #444;
	opacity: .95;
	border: 6px solid white;
	display: block;
	float: left;
	width: 100%;
}
.company:hover {
	opacity: 1;
}
.company a {
	display: block;
	padding: 2em 0;
	line-height: 1.33;
	font-size: 36px;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* specific company styles */
.company.accio-energy {
	background: hsl(197, 100%, 47%);
	color: white;
}
.company.alfa-jango {
	background: hsl(197, 100%, 47%);
	color: white;
}
.company.appkey {
	background: #77BE58;
	color: white;
}
.company.arbor-metrix {
	background: #36C1E6;
	color: white;
}
.company.arbor-networks {
	background: #62A335;
	color: white;
}
.company.atomic-object {
	background: #FD4F57;
	color: white;
}
.company.avegant {
	background: black;
	color: white;
}
.company.carcode {
	background: #F06C20;
	color: white;
}
.company.copy {
	background: #f5821f;
	color: white;
}
.company.cribspot {
	background: hsl(30, 90%, 70%);
	color: white;
}
.company.deepfield {
	background: hsl(222, 38%, 49%);
	color: white;
}
.company.duo {
	background: hsl(104, 44%, 49%);
	color: white;
}
.company.enlighten {
	background: hsl(34, 82%, 57%);;
	color: white;
}
.company.farmlogs {
	background: hsl(135, 40%, 40%);
	color: white;
}
.company.flocktag {
	background: hsl(206, 100%, 22%);
	color: white;
}
.company.gamestart {
	background: hsl(196, 100%, 47%);
	color: white;
}
.company.genomenon {
	background: #00325B;
	color: white;
}
.company.hook {
	background: hsl(339, 100%, 64%);
	color: white;
}
.company.hooklogic{
	background: #ED8614;
	color:white;
}
.company.jam {
	background: hsl(275, 74%, 33%);
	color: white;
}
.company.larky {
	background: #D7E5EA;
	color: black;
}
.company.llamasoft {
	background: hsl(45, 71%, 51%);
	color: white;
}
.company.localorbit {
	background: hsl(186, 38%, 63%);
	color: white;
}
.company.messageblocks {
	background: #36b1eb;
	color: white;
}
.company.munirent {
	background: #337ab7;
	color: white;
}
.company.myfab5 {
	background: #25bbb2;
	color: white;
}
.company.notion {
	background: #664897;
	color: white;
}
.company.nutshell {
	background: #ea9033;
	color: white;
}
.company.olark {
	background: hsl(14, 68%, 50%);
	color: white;
}
.company.peachworks {
	background: hsl(78, 100%, 35%);
	color: white;
}
.company.price-local {
	background: hsl(4, 90%, 43%);
	color: white;
}
.company.quadmetrics {
	background: #4284C4;
	color: white;
}
.company.retail-velocity {
	background: #551A8B;
	color: white;
}
.company.rightbrain-networks {
	background: #F86900;
	color: white;
}
.company.saagara {
	background: hsl(13, 58%, 27%);
	color: white;
}
.company.seelio {
	background: hsl(220, 50%, 80%);
	color: white;
}
.company.sight-machine {
	background: #144260;
	color: white;
}
.company.skyspecs {
	background: black;
	color: white;
}
.company.truejob {
	background: #2D2F31;
	color: white;
}
.company.virtalabs {
	background: hsl(282, 81%, 60%);
	color: white;
}
.company.wisely {
	background: #263238;
	color: white;
}


/* footer */
.footer {
	padding: 8em 0;
	color: #888;
	float: left;
	width: 100%;
	font-size: 14px;
}
.footer p {
	margin: 0;
}
.footer a {
	color: #888;
}

/* wider screen versions */
@media (min-width: 700px) {
	.company {
		width: 50%;
	}
}
@media (min-width: 1000px) {
	.company {
		width: 33.33%;
	}
}
@media (min-width: 1400px) {
	.company {
		width: 25%;
	}
}