/* global */
* {
	color: hsl(200, 20%, 30%);
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/* basic elements */
h1 {

}
h2 {
	margin: 3rem 0 1rem;
}
h3 {

}
a {
	color: hsl(200, 80%, 60%);
}
a:visited {
	color: hsl(200, 80%, 80%);
}
p {
	font-family: 'Roboto';
	margin: 0 0 1rem;
}

/* big homepage hero */
.hero {
	overflow: auto;
	background-color: #00307F;
	background: url('images/bg.jpg') no-repeat center center;
	background-size: cover;
	color: white;
	text-align: center;
}
.hero h1 {
	font-size: 35px;
	text-indent: -9999px;
	padding: 0;
	margin: 0;
	height: 1px;
}
.hero .subheading {
	color: #fff;
	font-weight: 400;
	margin: 0 0 1rem;
}

.hero .logo {
	max-width: 250px;
	width: 100%;
	margin: 3rem 0 0;
}
.hero .social-media-icons {
	margin: 0 0 8rem;
}
.hero .social-media-icons svg {
	width: 50px;
	height: 50px;
	margin: .5rem;
}
.hero .social-media-icons svg path {
	fill: white;
}

/* top bar */
.top-bar {
	background-color: #00307F;
	background: url('images/bg.jpg') no-repeat top center;
	background-size: cover;
	color: white;
	height: 110px;
}

.top-bar h1 {
	text-indent: -9999px;
	padding: 0;
	margin: 0;
	height: 1px;
}

.top-bar .go-home {
	position: relative;
	top: -100px;
	margin-left: 3rem;
}

.top-bar .logo {
	max-width: 100px;
	width: 100%;
	margin: 0;
}

/* tabs */
.tabs {
	overflow: auto;
	margin: 0;
	text-align: right;
	padding: 2rem;
}
.tabs .tab {
	border-bottom: 2px solid transparent;
	display: inline-block;
	padding: .5rem 0;
	margin: 0 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-family: roboto;
	font-weight: 500;
	letter-spacing: .05em;
	color: white;
}
.tabs .tab.active {
	border-bottom: 2px solid white;
}

/* companies */
.wrapper {
	margin: 1rem 2rem;
	overflow: auto;
}
.company {
	color: #444;
	opacity: .95;
	border: 6px solid white;
	display: block;
	float: left;
	width: 100%;
	color: white;
	text-align: center;
}
.company:hover {
	opacity: 1;
}
.company a {
	display: block;
	padding: 5rem 1rem;
	line-height: 3rem;
	font-size: 36px;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
}
.company.add-your-own a {
	font-size: 18px;
	color: #444;
}

/* community */
.community-wrapper {
	margin: 0 auto;
	max-width: 900px;
	padding: 0 2rem;
	overflow: auto;
}

/* community sidebar */
.community-nav {
	width: 30%;
	float: left;
	padding: 3rem 0 0;
}
.community-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.community-nav ul li {
	margin: 0 0 .5rem;
}
.community-nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: roboto;
	font-weight: 500;
	letter-spacing: .05em;
	font-size: 14px;
}

/* community list */
.community-content {
	width: 70%;
	float: right;
}
.community-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.community-content ul li {
	margin: 0 0 1rem;
}
.community-content ul li.featured {
	background: #eee;
	padding: 1rem;
}
.community-content ul li a {
	font-size: 16px;
	margin: 0 0 1rem;
}
.community-content ul li .pic {
	max-width: 100%;
}

/* make any sidebar sticky */
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* sticky clearfix */
.sticky:before,
.sticky:after {
	content: '';
	display: table;
}


/* calendar */

#calendar {
	max-width: 900px;
	margin: 0 auto;
}


/* footer */
.footer {
	padding: 5em 0;
	color: #888;
	float: left;
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.footer a {
	color: #888;
}

/* wider screen versions */

@media (max-width: 600px) {
	.top-bar {
		height: auto;
	}

	.top-bar .go-home {
		position: relative;
		top: 0;
		width: 100px;
		margin: 0 auto;
		display: block;
	}

	.top-bar .logo {
		width: 100px;
		margin: 0 0 2rem 0;
	}

	.tabs {
		text-align: center;
	}
}

@media (min-width: 700px) {
	.company {
		width: 50%;
	}

}
@media (min-width: 1000px) {
	.company {
		width: 33.33%;
	}
}
@media (min-width: 1400px) {
	.company {
		width: 25%;
	}
}
