extends ../layouts/main

block title
	title Made in A2 - Groups

block content

	.group-wrapper
		.group
			h2 A2 Geeks
			p A2Geeks is a nonprofit dedicated to making southeast Michigan and Ann Arbor in particular, a great place for geeks and creatives to live, work, and play. We support individuals and groups seeking to build community around issues or projects they are passionate about and to educate others in the area.
			.links
				a(href="http://a2geeks.org/", target="_blank") website
				a(href="http://twitter.com/a2geeks", target="_blank") twitter

		.group
			h2 A2 New Tech
			p Five presenters this month take the stage for ten minutes each, five minutes to demo and five minutes to answer questions, followed by open announcements and community networking. E-mail organizers at a2newtech.org if you'd like to present!
			.links
				a(href="http://www.meetup.com/a2newtech/", target="_blank") meetup

		.group
			h2 All Hands Active
			p Makers gather here at the AHA! Shop. We take our world and play with it like legos. Mixing and matching recipes of life like a top chef with a picky client. A dash of electronics, a pinch of art, a scoop of biology and a MONSTER amount of awesome! All Hands Active is a 501(c)(3) non-profit community organization. We want to make Ann Arbor smarter, and this is good for everyone!
			.links
				a(href="http://www.allhandsactive.org/", target="_blank") website
				a(href="http://www.meetup.com/AllHandsActive/", target="_blank") meetup

		.group
			h2 Ann Arbor Design Group
			.links
				a(href="http://www.a2design.org/", target="_blank") website
				a(href="http://www.meetup.com/Ann-Arbor-Design-Group/", target="_blank") meetup

		.group
			h2 Nerd Night
			p Nerd Nite is a monthly event held in more than 50 cities across the globe during which several folks give 18-21-minute fun-yet-informative presentations across all disciplines – while the audience drinks along.
			.links
				a(href="https://annarbor.nerdnite.com/", target="_blank") website
				a(href="http://www.facebook.com/nerdniteannarbor", target="_blank") facebook
				a(href="https://twitter.com/nerdnitea2", target="_blank") twitter

		br
		br
		p
			| Are we missing something? Add your group  
			a(href="https://github.com/sampl/madeina2", target="_blank") here
			| !
