extends ../layouts/main

block title
	title Made in A2 - Groups

block header
	.top-bar
		include ../includes/tabs
		h1 Made in A2
		a.go-home(href="/")
			img.logo(src="images/a2-whiteboard.png", alt="Made in A2")

block content

	.group-wrapper
		.group
			h2 A2 Geeks
			p A2Geeks is a nonprofit dedicated to making southeast Michigan and Ann Arbor in particular, a great place for geeks and creatives to live, work, and play. We support individuals and groups seeking to build community around issues or projects they are passionate about and to educate others in the area.
			.links
				a(href="http://a2geeks.org/", target="_blank") website
				a(href="http://twitter.com/a2geeks", target="_blank") twitter

		.group
			img.pic(src="images/groups/a2newtech.jpeg")
			h2 A2 New Tech
			p Five presenters this month take the stage for ten minutes each, five minutes to demo and five minutes to answer questions, followed by open announcements and community networking. E-mail organizers at a2newtech.org if you'd like to present!
			.links
				a(href="http://www.meetup.com/a2newtech/", target="_blank") meetup

		.group
			img.pic(src="images/groups/all_hands_active.jpeg")
			h2 All Hands Active
			p Makers gather here at the AHA! Shop. We take our world and play with it like legos. Mixing and matching recipes of life like a top chef with a picky client. A dash of electronics, a pinch of art, a scoop of biology and a MONSTER amount of awesome! All Hands Active is a 501(c)(3) non-profit community organization. We want to make Ann Arbor smarter, and this is good for everyone!
			.links
				a(href="http://www.allhandsactive.org/", target="_blank") website
				a(href="http://www.meetup.com/AllHandsActive/", target="_blank") meetup

		.group
			h2 Ann Arbor Design Group
			p Ann Arbor Design Group is a collection of interdisciplinary designers (UI/UX, graphic, product, architecture, etc). We host speakers, show-and-tells, design jams, and other events to help designers and design students in Ann Arbor connect, learn, find work, and hire design talent.
			.links
				a(href="http://www.a2design.org/", target="_blank") website
				a(href="http://www.meetup.com/Ann-Arbor-Design-Group/", target="_blank") meetup

		.group
			img.pic(src="images/groups/arbsec.jpg")
			h2 ArbSec
			p For a city its size, Ann Arbor has a surprisingly active security community. ArbSec is an informal gathering of computer security enthusiast at local watering holes.
			.links
				a(href="TODO", target="_blank") website

		.group
			img.pic(src="images/groups/coffeehousecoders.jpeg")
			h2 Coffeehouse Coders
			p If you’re a pro at coding or you’re just getting started, CoffeeHouseCoders is a great way to hang out with people sharpening their programming skills. The hosts are super-friendly and if you’re stuck on a coding problem you’re bound to find someone who can help you out.
			.links
				a(href="TODO", target="_blank") website

		.group
			img.pic(src="images/groups/festifools.jpg")
			h2 Festifools
			p What would happen if a whole bunch of people made 20 foot tall puppets and paraded them down Main St one weekend a year? This is Festifools.
			.links
				a(href="TODO", target="_blank") website

		.group
			img.pic(src="images/groups/ignite_ann_arbor.jpg")
			h2 Ignite Ann Arbor
			p Speakers get 5 minutes to share their nerdy passion. The audience gets their brains filled with amazing stories. What more could you ask for?
			.links
				a(href="TODO", target="_blank") website

		.group
			img.pic(src="images/groups/maker_works.jpg")
			h2 Maker Works
			p Maker Works has a cornucopia of tools available to members for working with wood, crafts, metal, and circuits. The staff and members are very friendly! They teach tool safety and basic usage classes for the public. Tours are free, and you have to see their 10,000+ sq ft space to believe it.
			.links
				a(href="TODO", target="_blank") website

		.group
			img.pic(src="images/groups/NerdNite2.jpg")
			h2 Nerd Night
			p Nerd Nite is a monthly event held in more than 50 cities across the globe during which several folks give 18-21-minute fun-yet-informative presentations across all disciplines – while the audience drinks along.
			.links
				a(href="https://annarbor.nerdnite.com/", target="_blank") website
				a(href="http://www.facebook.com/nerdniteannarbor", target="_blank") facebook
				a(href="https://twitter.com/nerdnitea2", target="_blank") twitter


		br
		br
		p
			| Are we missing something? Add your group  
			a(href="https://github.com/sampl/madeina2", target="_blank") here
			| !
