extends ../layouts/main

block title
	title Made in A2 - Companies

block content

	.company.accio-energy
		a(href="http://www.accioenergy.com/", target="_blank") Accio Energy

	.company.alfa-jango
		a(href="http://www.alfajango.com/", target="_blank") Alfa Jango

	.company.appkey
		a(href="http://appkey.com/", target="_blank") AppKey

	.company.arbor-metrix
		a(href="http://arbormetrix.com/", target="_blank") ArborMetrix

	.company.arbor-networks
		a(href="http://www.arbornetworks.com/", target="_blank") Arbor Networks

	.company.atomic-object
		a(href="http://www.atomicobject.com", target="_blank") Atomic Object

	.company.avegant
		a(href="http://www.avegant.com/", target="_blank") Avegant

	.company.carcode
		a(href="http://www.carcodesms.com", target="_blank") Carcode

	.company.copy
		a(href="http://copy.com", target="_blank") Copy

	.company.cribspot
		a(href="http://cribspot.com", target="_blank") Cribspot

	.company.deepfield
		a(href="http://www.deepfield.com/", target="_blank") DeepField

	.company.duo
		a(href="http://duosecurity.com/", target="_blank") Duo Security

	.company.enlighten
		a(href="http://enlighten.com/", target="_blank") Enlighten

	.company.farmlogs
		a(href="http://farmlogs.com/", target="_blank") FarmLogs

	.company.flocktag
		a(href="http://www.flocktag.com/", target="_blank") FlockTag

	.company.gamestart
		a(href="http://www.gamestartschool.org/", target="_blank") GameStart

	.company.genomenon
		a(href="http://www.genomenon.com/", target="_blank") Genomenon

	.company.hooklogic
		a(href="http://www.hooklogic.com/", target="_blank") Hook Logic

	.company.hook
		a(href="http://www.byhook.com/", target="_blank") Hook Studios

	.company.jam
		a(href="http://letsj.am/", target="_blank") Jam

	.company.larky
		a(href="http://www.larky.com/", target="_blank") Larky

	.company.llamasoft
		a(href="http://www.llamasoft.com/", target="_blank") LLamasoft

	.company.localorbit
		a(href="http://www.localorbit.com/", target="_blank") Local Orbit

	.company.messageblocks
		a(href="https://www.messageblocks.com/", target="_blank") Message Blocks

	.company.munirent
		a(href="https://www.munirent.co/", target="_blank") MuniRent

	.company.myfab5
		a(href="http://www.myfab5.com", target="_blank") MyFab5

	.company.notion
		a(href="http://notion.ai", target="_blank") Notion

	.company.nutshell
		a(href="http://nutshell.com", target="_blank") Nutshell

	.company.olark
		a(href="http://olark.com", target="_blank") Olark

	.company.peachworks
		a(href="http://peachworks.com/", target="_blank") PeachWorks

	.company.price-local
		a(href="http://www.getpricelocal.com/", target="_blank") PriceLocal

	.company.quadmetrics
		a(href="http://www.quadmetrics.com", target="_blank") QuadMetrics

	.company.retail-velocity
		a(href="http://www.retailvelocity.com/", target="_blank") Retail Velocity

	.company.rightbrain-networks
		a(href="http://www.rightbrainnetworks.com/", target="_blank") RightBrain Networks

	.company.saagara
		a(href="http://www.saagara.com/", target="_blank") Saagara

	.company.seelio
		a(href="http://seelio.com", target="_blank") Seelio

	.company.sight-machine
		a(href="http://sightmachine.com/", target="_blank") Sight Machine

	.company.skyspecs
		a(href="http://skyspecs.com/", target="_blank") SkySpecs

	.company.truejob
		a(href="https://www.truejob.com/", target="_blank") TrueJob

	.company.virtalabs
		a(href="https://www.virtalabs.com/", target="_blank") Virta Labs

	.company.wisely
		a(href="http://getwisely.com", target="_blank") Wisely
