extends ../layouts/main

block title
	title Made in A2 - Companies

block content

	.company(style="background: hsl(197, 100%, 47%);")
		a(href="http://www.accioenergy.com/", target="_blank") Accio Energy

	.company(style="background: hsl(197, 100%, 47%);")
		a(href="http://www.alfajango.com/", target="_blank") Alfa Jango

	.company(style="background: #77BE58;")
		a(href="http://appkey.com/", target="_blank") AppKey

	.company(style="background: #36C1E6;")
		a(href="http://arbormetrix.com/", target="_blank") ArborMetrix

	.company(style="background: #62A335;")
		a(href="http://www.arbornetworks.com/", target="_blank") Arbor Networks

	.company(style="background: #FD4F57;")
		a(href="http://www.atomicobject.com", target="_blank") Atomic Object

	.company(style="background: black;")
		a(href="http://www.avegant.com/", target="_blank") Avegant

	.company(style="background: #F06C20;")
		a(href="http://www.carcodesms.com", target="_blank") Carcode

	.company(style="background: #f5821f;")
		a(href="http://copy.com", target="_blank") Copy

	.company(style="background: hsl(30, 90%, 70%);")
		a(href="http://cribspot.com", target="_blank") Cribspot

	.company(style="background: hsl(222, 38%, 49%);")
		a(href="http://www.deepfield.com/", target="_blank") DeepField

	.company(style="background: hsl(104, 44%, 49%);")
		a(href="http://duosecurity.com/", target="_blank") Duo Security

	.company(style="background: hsl(34, 82%, 57%);")
		a(href="http://enlighten.com/", target="_blank") Enlighten

	.company(style="background: hsl(135, 40%, 40%);")
		a(href="http://farmlogs.com/", target="_blank") FarmLogs

	.company(style="background: hsl(206, 100%, 22%);")
		a(href="http://www.flocktag.com/", target="_blank") FlockTag

	.company(style="background: hsl(196, 100%, 47%);")
		a(href="http://www.gamestartschool.org/", target="_blank") GameStart

	.company(style="background: #00325B;")
		a(href="http://www.genomenon.com/", target="_blank") Genomenon

	.company(style="background: #ED8614;")
		a(href="http://www.hooklogic.com/", target="_blank") Hook Logic

	.company(style="background: hsl(339, 100%, 64%);")
		a(href="http://www.byhook.com/", target="_blank") Hook Studios

	.company(style="background: hsl(275, 74%, 33%);")
		a(href="http://letsj.am/", target="_blank") Jam

	.company(style="background: #D7E5EA; color: black;")
		a(href="http://www.larky.com/", target="_blank") Larky

	.company(style="background: hsl(45, 71%, 51%);")
		a(href="http://www.llamasoft.com/", target="_blank") LLamasoft

	.company(style="background: hsl(186, 38%, 63%);")
		a(href="http://www.localorbit.com/", target="_blank") Local Orbit

	.company(style="background: #36b1eb;")
		a(href="https://www.messageblocks.com/", target="_blank") Message Blocks

	.company(style="background: #337ab7;")
		a(href="https://www.munirent.co/", target="_blank") MuniRent

	.company(style="background: #25bbb2;")
		a(href="http://www.myfab5.com", target="_blank") MyFab5

	.company(style="background: #664897;")
		a(href="http://notion.ai", target="_blank") Notion

	.company(style="background: #ea9033;")
		a(href="http://nutshell.com", target="_blank") Nutshell

	.company(style="background: hsl(14, 68%, 50%);")
		a(href="http://olark.com", target="_blank") Olark

	.company(style="background: hsl(78, 100%, 35%);")
		a(href="http://peachworks.com/", target="_blank") PeachWorks

	.company(style="background: hsl(4, 90%, 43%);")
		a(href="http://www.getpricelocal.com/", target="_blank") PriceLocal

	.company(style="background: #4284C4;")
		a(href="http://www.quadmetrics.com", target="_blank") QuadMetrics

	.company(style="background: #551A8B;")
		a(href="http://www.retailvelocity.com/", target="_blank") Retail Velocity

	.company(style="background: #F86900;")
		a(href="http://www.rightbrainnetworks.com/", target="_blank") RightBrain Networks

	.company(style="background: hsl(13, 58%, 27%);")
		a(href="http://www.saagara.com/", target="_blank") Saagara

	.company(style="background: hsl(220, 50%, 80%);")
		a(href="http://seelio.com", target="_blank") Seelio

	.company(style="background: #144260;")
		a(href="http://sightmachine.com/", target="_blank") Sight Machine

	.company(style="background: black;")
		a(href="http://skyspecs.com/", target="_blank") SkySpecs

	.company(style="background: #2D2F31;")
		a(href="https://www.truejob.com/", target="_blank") TrueJob

	.company(style="background: hsl(282, 81%, 60%);")
		a(href="https://www.virtalabs.com/", target="_blank") Virta Labs

	.company(style="background: #263238;")
		a(href="http://getwisely.com", target="_blank") Wisely

	.company.add-your-own(style="background: #eee; color: #444;")
		a(href="https://github.com/sampl/madeina2", target="_blank") + Add your company  
