extends ../layouts/main

block title
	title Made in A2 - Companies

block header
	.hero
		include ../includes/tabs

		h1 Made in A2
		a(href="/")
			img.logo(src="images/a2-whiteboard.png", alt="Made in A2")

		.subheading Tech Community in Ann Arbor, Michigan

		.social-media-icons
			a(href="https://twitter.com/MadeInA2", target="_blank").
				<svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M28.348,5.157c-13.6,0-24.625,11.027-24.625,24.625c0,13.6,11.025,24.623,24.625,24.623c13.6,0,24.623-11.023,24.623-24.623  C52.971,16.184,41.947,5.157,28.348,5.157z M40.752,24.817c0.013,0.266,0.018,0.533,0.018,0.803c0,8.201-6.242,17.656-17.656,17.656  c-3.504,0-6.767-1.027-9.513-2.787c0.486,0.057,0.979,0.086,1.48,0.086c2.908,0,5.584-0.992,7.707-2.656  c-2.715-0.051-5.006-1.846-5.796-4.311c0.378,0.074,0.767,0.111,1.167,0.111c0.566,0,1.114-0.074,1.635-0.217  c-2.84-0.57-4.979-3.08-4.979-6.084c0-0.027,0-0.053,0.001-0.08c0.836,0.465,1.793,0.744,2.811,0.777  c-1.666-1.115-2.761-3.012-2.761-5.166c0-1.137,0.306-2.204,0.84-3.12c3.061,3.754,7.634,6.225,12.792,6.483  c-0.106-0.453-0.161-0.928-0.161-1.414c0-3.426,2.778-6.205,6.206-6.205c1.785,0,3.397,0.754,4.529,1.959  c1.414-0.277,2.742-0.795,3.941-1.506c-0.465,1.45-1.448,2.666-2.73,3.433c1.257-0.15,2.453-0.484,3.565-0.977  C43.018,22.849,41.965,23.942,40.752,24.817z"/></svg>

block content

	.companies

		a.company(style="background: hsl(197, 100%, 47%);", href="http://www.accioenergy.com/", target="_blank")
			h2 Accio Energy

		a.company(style="background: #12756d;", href="https://akadeum.com/", target="_blank")
			h2 Akadeum

		a.company(style="background: hsl(197, 100%, 47%);", href="https://www.alfajango.com/", target="_blank")
			h2 Alfa Jango

		a.company(style="background: #A21BAC;", href="https://www.amesite.com/", target="_blank")
			h2 Amesite

		a.company(style="background: #45546E;", href="https://www.aptible.com/", target="_blank")
			h2 Aptible

		a.company(style="background: #36C1E6;", href="http://www.arbormetrix.com/", target="_blank")
			h2 ArborMetrix
			
		a.company(style="background: #F1D90C;", href="https://www.arbormoon.com/", target="_blank") 
			h2 Arbormoon Software, Inc.

		a.company(style="background: #62A335;", href="https://www.arbornetworks.com/", target="_blank")
			h2 Arbor Networks

		a.company(style="background: #FD4F57;", href="https://atomicobject.com/", target="_blank")
			h2 Atomic Object

		a.company(style="background: #25bbb2;", href="http://www.bestfoodfeed.com", target="_blank")
			h2 BestFoodFeed

		a.company(style="background: #E88C06;", href="https://www.campdoc.com", target="_blank")
			h2 CampDoc

		a.company(style="background: #F06C20;", href="https://www.carcode.com/", target="_blank")
			h2 Carcode

		a.company(style="background: #4D89FB;", href="https://censys.io/", target="_blank")
			h2 Censys

		a.company(style="background: #7DAFFF;", href="https://clinc.com/", target="_blank")
			h2 Clinc

		a.company(style="background: #0F62DC;", href="https://www.connect.space/", target="_blank")
			h2 Connect Space

		a.company(style="background: #0083a9;", href="https://getmatterhorn.com/", target="_blank")
			h2 Court Innovations

		a.company(style="background: #4ab6df;", href="https://contentoro.com/", target="_blank")
			h2 ContentOro

		a.company(style="background: #f79321;", href="http://www.criteo.com/", target="_blank")
			h2 Criteo

		a.company(style="background: #0D77BD;", href="https://DaySmart.com/", target="_blank")
			h2 DaySmart

		a.company(style="background: hsl(222, 38%, 49%);", href="http://www.deepfield.com/", target="_blank")
			h2 DeepField

		a.company(style="background: hsl(104, 44%, 49%);", href="https://duo.com/", target="_blank")
			h2 Duo Security

		a.company(style="background: hsl(135, 40%, 40%);", href="https://farmlogs.com/", target="_blank")
			h2 FarmLogs

		a.company(style="background: hsl(206, 100%, 22%);", href="https://www.flocktag.com/", target="_blank")
			h2 FlockTag

		a.company(style="background: hsl(196, 100%, 47%);", href="https://www.gamestartschool.org/", target="_blank")
			h2 GameStart

		a.company(style="background: #00325B;", href="https://www.genomenon.com/", target="_blank")
			h2 Genomenon

		a.company(style="background: #4E856D;", href="https://www.giveandtakeinc.com/", target="_blank")
			h2 Give and Take

		a.company(style="background: #E7A800;", href="https://groove.id", target="_blank")
			h2 Groove.id

		a.company(style="background: #00BFFF;", href="http://groundspeed.com", target="_blank")
			h2 Groundspeed

		a.company(style="background: #28A745;", href="http://healpay.com", target="_blank")
			h2 HealPay

		a.company(style="background: hsl(339, 100%, 64%);", href="http://byhook.com/", target="_blank")
			h2 Hook Studios

		a.company(style="background: hsl(337, 85%, 49%)", href="http://www.iconinteractive.com/", target="_blank")
			h2 Icon Interactive

		a.company(style="background: black;", href="https://www.ithaka.org/", target="_blank")
			h2 ITHAKA (JSTOR)

		a.company(style="background: #662d91;", href="https://karambasecurity.com/", target="_blank")
			h2 Karamba Security		
			
		a.company(style="background: #389ECC;", href="https://lakesidesoftware.com/", target="_blank")
			h2 Lakeside Software

		a.company(style="background: #D7E5EA;", href="http://www.larky.com/", target="_blank")
			h2.contrast Larky

		a.company(style="background: #99CA3C", href="https://lawnguru.co/", target="_blank")
			h2 LawnGuru

		a.company(style="background: #92479a", href="https://www.learninga-z.com/", target="_blank")
			h2 Learning A-Z

		a.company(style="background: hsl(45, 71%, 51%);", href="https://www.llamasoft.com/", target="_blank")
			h2 LLamasoft

		a.company(style="background: hsl(186, 38%, 63%);", href="https://localorbit.com/", target="_blank")
			h2 Local Orbit

		a.company(style="background: #2E9D48;", href="http://maymobility.com/", target="_blank")
			h2 May Mobility

		a.company(style="background: #0080c5;", href="https://www.merit.edu/", target="_blank")
			h2 Merit Network

		a.company(style="background: #337ab7;", href="https://www.munirent.co/", target="_blank")
			h2 MuniRent

		a.company(style="background: #4b62dc;", href="https://myswimpro.com/#/", target="_blank")
			h2 MySwimPro

		a.company(style="background: #00aaff;", href="https://www.nexient.com", target="_blank")
			h2 Nexient	

		a.company(style="background: #fe5003;", href="https://www.nutshell.com/", target="_blank")
			h2 Nutshell

		a.company(style="background: hsl(14, 68%, 50%);", href="https://www.olark.com/", target="_blank")
			h2 Olark

		a.company(style="background: #4090c8;", href="https://www.pawnguru.com/", target="_blank")
			h2 PawnGuru

		a.company(style="background: hsl(78, 100%, 35%);", href="https://peachworks.com/", target="_blank")
			h2 PeachWorks

		a.company(style="background: #ed0533;", href="http://perficientdigital.com/", target="_blank")
			h2 Perficient Digital

		a.company(style="background: #4284C4;", href="https://www.quadmetrics.com", target="_blank")
			h2 QuadMetrics

		a.company(style="background: #551A8B;", href="https://www.retailvelocity.com/", target="_blank")
			h2 Retail Velocity

		a.company(style="background: #F86900;", href="http://www.rightbrainnetworks.com/", target="_blank")
			h2 RightBrain Networks

		a.company(style="background: hsl(13, 58%, 27%);", href="http://www.saagara.com/", target="_blank")
			h2 Saagara

		a.company(style="background: #4C4184;", href="https://saganworks.com", target="_blank")
			h2 Saganworks

		a.company(style="background: hsl(220, 50%, 80%);", href="https://seelio.com/", target="_blank")
			h2.contrast Seelio

		a.company(style="background: #2e3231;", href="https://www.shoptelligence.com/", target="_blank")
			h2 Shoptelligence

		a.company(style="background: #144260;", href="https://sightmachine.com/", target="_blank")
			h2 Sight Machine

		a.company(style="background: black;", href="http://www.skyspecs.com/", target="_blank")
			h2 SkySpecs

		a.company(style="background: #005677;", href="http://www.strataoncology.com/", target="_blank")
			h2 Strata Oncology

		a.company(style="background: #2b1464;", href="https://trove.com", target="_blank")
			h2 Trove

		a.company(style="background: #2D2F31;", href="https://www.truejob.com/", target="_blank")
			h2 TrueJob

		a.company(style="background: hsl(282, 81%, 60%);", href="https://www.virtalabs.com/", target="_blank")
			h2 Virta Labs

		a.company(style="background: #263238;", href="http://getwisely.com", target="_blank")
			h2 Wisely

		a.company(style="background: #30B888;", href="https://workithealth.com/", target="_blank")
			h2 Workit Health

		a.company.add-your-own(style="background: #eee;", href="https://github.com/sampl/madeina2", target="_blank")
			p + Add your company
