extends ../layouts/main

block title
	title Made in A2 - Companies

block header
	.hero
		include ../includes/tabs

		h1 Made in A2
		a(href="/")
			img.logo(src="images/a2-whiteboard.png", alt="Made in A2")

		.subheading Tech Community in Ann Arbor, Michigan

		.social-media-icons
			a(href="https://twitter.com/MadeInA2", target="_blank").
				<svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M28.348,5.157c-13.6,0-24.625,11.027-24.625,24.625c0,13.6,11.025,24.623,24.625,24.623c13.6,0,24.623-11.023,24.623-24.623  C52.971,16.184,41.947,5.157,28.348,5.157z M40.752,24.817c0.013,0.266,0.018,0.533,0.018,0.803c0,8.201-6.242,17.656-17.656,17.656  c-3.504,0-6.767-1.027-9.513-2.787c0.486,0.057,0.979,0.086,1.48,0.086c2.908,0,5.584-0.992,7.707-2.656  c-2.715-0.051-5.006-1.846-5.796-4.311c0.378,0.074,0.767,0.111,1.167,0.111c0.566,0,1.114-0.074,1.635-0.217  c-2.84-0.57-4.979-3.08-4.979-6.084c0-0.027,0-0.053,0.001-0.08c0.836,0.465,1.793,0.744,2.811,0.777  c-1.666-1.115-2.761-3.012-2.761-5.166c0-1.137,0.306-2.204,0.84-3.12c3.061,3.754,7.634,6.225,12.792,6.483  c-0.106-0.453-0.161-0.928-0.161-1.414c0-3.426,2.778-6.205,6.206-6.205c1.785,0,3.397,0.754,4.529,1.959  c1.414-0.277,2.742-0.795,3.941-1.506c-0.465,1.45-1.448,2.666-2.73,3.433c1.257-0.15,2.453-0.484,3.565-0.977  C43.018,22.849,41.965,23.942,40.752,24.817z"/></svg>

block content

	.company(style="background: hsl(197, 100%, 47%);")
		a(href="http://www.accioenergy.com/", target="_blank") Accio Energy

	.company(style="background: hsl(197, 100%, 47%);")
		a(href="http://www.alfajango.com/", target="_blank") Alfa Jango

	.company(style="background: #77BE58;")
		a(href="http://appkey.com/", target="_blank") AppKey

	.company(style="background: #45546E;")
		a(href="https://www.aptible.com/", target="_blank") Aptible

	.company(style="background: #36C1E6;")
		a(href="http://arbormetrix.com/", target="_blank") ArborMetrix

	.company(style="background: #62A335;")
		a(href="http://www.arbornetworks.com/", target="_blank") Arbor Networks

	.company(style="background: #FD4F57;")
		a(href="http://www.atomicobject.com", target="_blank") Atomic Object

	.company(style="background: black;")
		a(href="http://www.avegant.com/", target="_blank") Avegant

	.company(style="background: #E88C06;")
		a(href="http://www.campdoc.com", target="_blank") CampDoc

	.company(style="background: #F06C20;")
		a(href="http://www.carcodesms.com", target="_blank") Carcode

	.company(style="background: #4ab6df;")
		a(href="https://contentoro.com/", target="_blank") ContentOro
		
	.company(style="background: #0083a9;")
		a(href="https://getmatterhorn.com/", target="_blank") Court Innovations

	.company(style="background: hsl(30, 90%, 70%);")
		a(href="http://cribspot.com", target="_blank") Cribspot

	.company(style="background: hsl(222, 38%, 49%);")
		a(href="http://www.deepfield.com/", target="_blank") DeepField

	.company(style="background: hsl(104, 44%, 49%);")
		a(href="http://duosecurity.com/", target="_blank") Duo Security

	.company(style="background: hsl(34, 82%, 57%);")
		a(href="http://enlighten.com/", target="_blank") Enlighten

	.company(style="background: hsl(135, 40%, 40%);")
		a(href="http://farmlogs.com/", target="_blank") FarmLogs

	.company(style="background: hsl(206, 100%, 22%);")
		a(href="http://www.flocktag.com/", target="_blank") FlockTag

	.company(style="background: hsl(196, 100%, 47%);")
		a(href="http://www.gamestartschool.org/", target="_blank") GameStart

	.company(style="background: #00325B;")
		a(href="http://www.genomenon.com/", target="_blank") Genomenon

	.company(style="background: #00BFFF;")
		a(href="http://groundspeed.com", target="_blank") Groundspeed

	.company(style="background: #ED8614;")
		a(href="http://www.hooklogic.com/", target="_blank") Hook Logic

	.company(style="background: hsl(339, 100%, 64%);")
		a(href="http://www.byhook.com/", target="_blank") Hook Studios

	.company(style="background: hsl(337, 85%, 49%)")
		a(href="http://www.iconinteractive.com/", target="_blank") Icon Interactive

	.company(style="background: black;")
		a(href="http://www.ithaka.org/", target="_blank") ITHAKA (JSTOR)

	.company(style="background: #D7E5EA; color: black;")
		a(href="http://www.larky.com/", target="_blank", style="color: black;") Larky

	.company(style="background: hsl(45, 71%, 51%);")
		a(href="http://www.llamasoft.com/", target="_blank") LLamasoft

	.company(style="background: #99CA3C")
		a(href="https://lawnguru.co/", target="_blank") LawnGuru

	.company(style="background: hsl(186, 38%, 63%);")
		a(href="http://www.localorbit.com/", target="_blank") Local Orbit

	.company(style="background: #0080c5;")
		a(href="https://www.merit.edu/", target="_blank") Merit Network

	.company(style="background: #36b1eb;")
		a(href="https://www.messageblocks.com/", target="_blank") Message Blocks

	.company(style="background: #337ab7;")
		a(href="https://www.munirent.co/", target="_blank") MuniRent

	.company(style="background: #25bbb2;")
		a(href="http://www.myfab5.com", target="_blank") MyFab5

	.company(style="background: #2b1464;")
		a(href="http://trove.com", target="_blank") Trove

	.company(style="background: #fe5003;")
		a(href="http://nutshell.com", target="_blank") Nutshell

	.company(style="background: hsl(14, 68%, 50%);")
		a(href="http://olark.com", target="_blank") Olark

	.company(style="background: hsl(78, 100%, 35%);")
		a(href="http://peachworks.com/", target="_blank") PeachWorks

	.company(style="background: hsl(4, 90%, 43%);")
		a(href="http://www.getpricelocal.com/", target="_blank") PriceLocal

	.company(style="background: #4284C4;")
		a(href="http://www.quadmetrics.com", target="_blank") QuadMetrics

	.company(style="background: #551A8B;")
		a(href="http://www.retailvelocity.com/", target="_blank") Retail Velocity

	.company(style="background: #F86900;")
		a(href="http://www.rightbrainnetworks.com/", target="_blank") RightBrain Networks

	.company(style="background: hsl(13, 58%, 27%);")
		a(href="http://www.saagara.com/", target="_blank") Saagara

	.company(style="background: hsl(220, 50%, 80%);")
		a(href="http://seelio.com", target="_blank") Seelio

	.company(style="background: #144260;")
		a(href="http://sightmachine.com/", target="_blank") Sight Machine

	.company(style="background: black;")
		a(href="http://skyspecs.com/", target="_blank") SkySpecs

	.company(style="background: #2D2F31;")
		a(href="https://www.truejob.com/", target="_blank") TrueJob

	.company(style="background: hsl(282, 81%, 60%);")
		a(href="https://www.virtalabs.com/", target="_blank") Virta Labs

	.company(style="background: #263238;")
		a(href="http://getwisely.com", target="_blank") Wisely

	.company(style="background: #30B888;")
		a(href="http://workithealth.com", target="_blank") Workit Health

	.company.add-your-own(style="background: #eee; color: #444;")
		a(href="https://github.com/sampl/madeina2", target="_blank") + Add your company
