.tabs
	a(href="/")#companies-tab.tab Companies
	a(href="/community")#community-tab.tab Community
	a(href="/jobs")#jobs-tab.tab Jobs
	a(href="/calendar")#calendar-tab.tab Calendar

script.

	switch ( window.location.pathname.split('/')[1] ) {
		case '':
			document.getElementById("companies-tab").className = "tab active";
			break;
		case 'community':
			document.getElementById("community-tab").className = "tab active";
			break;
		case 'jobs':
			document.getElementById("jobs-tab").className = "tab active";
			break;
		case 'calendar':
			document.getElementById("calendar-tab").className = "tab active";
			break;
	}
