.tabs
	a(href="index.html")#companies-tab.tab Companies
	a(href="groups.html")#groups-tab.tab Groups
	a(href="jobs.html")#jobs-tab.tab Jobs

script.
	var page = window.location.pathname.split('/')[1]
	switch (page) {
		case '':
		case 'index.html':
			document.getElementById("companies-tab").className = "tab active";
			break;
		case 'groups.html':
			document.getElementById("groups-tab").className = "tab active";
			break;
		case 'jobs.html':
			document.getElementById("jobs-tab").className = "tab active";
			break;
	}
