.tabs
	a(href="/")#companies-tab.tab Companies
	a(href="/groups")#groups-tab.tab Groups

script.
	var page = window.location.pathname.split('/')[1]
	switch (page) {
		case '':
		case '/':
			document.getElementById("companies-tab").className = "tab active";
			break;
		case '/groups':
			document.getElementById("groups-tab").className = "tab active";
			break;
	}
