.tabs
	a(href="/")#companies-tab.tab Companies
	a(href="/community")#community-tab.tab Community

script.

	switch ( window.location.pathname.split('/')[1] ) {
		case '':
			document.getElementById("companies-tab").className = "tab active";
			break;
		case 'community':
			document.getElementById("community-tab").className = "tab active";
			break;
	}
